/* 
* font-family: 'JetBrains Mono', monospace;
* font-family: 'Montserrat', sans-serif; 

* Golapi : #fc5185
* Black : #364f6b
* Sky : #43dde6
* White : #f0f0f0
*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3 {
    font-family: 'JetBrains Mono', monospace;
    color: #364f6b;
}

img {
    width: 100%;
}

.row {
    display: flex;
}

.col {
    width: 50%;
}

.hero {
    position: relative;
    padding: 100px 0;
    z-index: 1;
}

.hero::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('img/dot.png');
    background-repeat: no-repeat;
    background-size: 15%;
    opacity: 0.2;
    z-index: -1;
}

.hero-row, .about-row {
    align-items: center;
}

.hero-left {
    padding-right: 50px;
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 12px 0;
    line-height: 48px;
}

.hero h1 span {
    color: #fc5185;
}

.hero h2 {
    font-size: 25px;
    font-weight: 900;
    margin: 25px 0;
    line-height: 25px;
}

p {
    font-size: 16px;
    line-height: 25px;
    font-weight: 500;
    color: #364f6b;
    margin: 30px 0 20px;
}

a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    margin-top: 30px;
    display: inline-block;
    padding: 15px 25px;
    background: linear-gradient(45deg, #fc5185, #b152a5);
    color: #fff;
    border-radius: 30px;
}

.hero-right {
    text-align: right;
}

.hero-right img {
    width: 90%;
    border-bottom-right-radius: 300px;
    border-bottom-left-radius: 220px;
}

/* About */

.about {
    background-image: url('img/about-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 100px 0 0;
    margin-top: 100px;
}

.about-left img {
    width: 70%;
}

.about-right h2 {
    font-size: 48px;
    font-weight: 900;
    margin: 12px 0;
    line-height: 48px;
}

/* Recipie */

.recipie {
    padding: 100px 0;
}

.recipie-row {
    justify-content: space-between;
}

.col-3 {
    width: 26%;
}

.recipie-top {
    width: 50%;
    margin: 60px auto;
    text-align: center;
}

.recipie-top h2 {
    font-size: 48px;
    font-weight: 900;
    margin: 12px 0;
}

.recipie-item {
    box-shadow: 0px 0px 10px 5px #efefef;
    padding: 30px;
    border-radius: 30px;
    text-align: center;
}

.recipie-item h2 {
    margin-top: 30px;
}

.recipie-item p {
    margin: 10px 0;
}

/* App */

.app {
    background:  #fc5185;
    padding: 100px 0;
    margin-top: 100px;
}

.app-row {
    align-items: center;
}

.app-left h2 {
    font-size: 48px;
    font-weight: 900;
    margin: 12px 0;
    color: #f0f0f0;
}

.app-left p {
    font-size: 25px;
    line-height: 30px;
}

.app-left img {
    width: 200px;
}

/* Footer */

.footer {
    padding: 100px 0;
    background: #364f6b;
}

.footer h2 {
    color: #efefef;
    text-align: center;
}

.footer p {
    color: #efefef;
    text-align: center;
}

.footer h2 span {
    color: #fc5185;
}


@media all and (max-width: 992px) {
    .hero {
        padding: 80px 0 20px;
    }
    .hero-row, .about-row {
        align-items: flex-start;
    }
    .hero-right img {
        width: 100%;
    }
    a {
        margin-top: 20px;
    }
    .recipie {
        padding: 80px 0;
    }
    .recipie-top {
        width: 80%;
        margin: 0px auto 60px;
    }
    .recipie-item {
        padding: 15px;
        border-radius: 15px;
    }
    .col-3 {
        width: 28%;
    }
    .recipie-item h2 {
        margin-top: 20px;
        font-size: 18px;
    }
    .recipie-item p {
        font-size: 14px;
        line-height: 20px;
    }
    .app {
        padding: 80px 0;
        margin-top: 50px;
    }
    .app-left h2 {
        font-size: 32px;
        line-height: 32px;
    }
    .app-left p {
        font-size: 20px;
        line-height: 26px;
    }
    .app-left img {
        width: 150px;
    }
    .footer {
        padding: 50px 0;
    }
    .footer p {
        margin: 10px 0;
    }
}

@media all and (max-width: 768px) {
    .row {
        flex-direction: column;
    }
    .col {
        width: 100%;
    }
    .hero-left {
        padding-right: 0;
        order: 1;
    }
    .hero-right {
        text-align: center;
    }
    .hero-right img {
        width: 90%;
        margin-bottom: 50px;
    }
    .about {
        padding: 100px 0 100px;
    }
    .about-left {
        text-align: center;
        margin-bottom: 50px;
    }
    .col-3 {
        width: 80%;
        margin: 0 auto 50px;
    }
    .recipie-item {
        padding: 20px 20px 50px;
        border-radius: 40px;
    }
    
    .recipie-item h2 {
        margin-top: 30px;
        font-size: 30px;
    }
    
    .recipie-item p {
        margin: 10px 0;
        font-size: 18px;
    }
    .app-left {
        order: 1;
        margin-bottom: 50px;
    }
}